apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-service
  template:
    metadata:
      labels:
        app: app-service
    spec:
      imagePullSecrets:
      - name: ghcr-credentials
      containers:
      - name: app-service
        image: ghcr.io/doda25-team19/app:latest
        ports:
        - containerPort: 8080
        env:
        - name: MODEL_SERVICE_URL
          value: "http://model-service:80"