services:
  model-service:
    image: ghcr.io/doda25-team19/model-service:${MODEL_SERVICE_IMAGE_TAG}
    environment:
      - MODEL_PORT=${MODEL_PORT}
      - MODEL_FILE=output/model.joblib
      - MODEL_FILE_NAME=model.joblib
      - MODEL_URL = https://github.com/doda25-team19/model-service/releases/download/v${MODEL_VERSION}/
    expose:
      - "${MODEL_PORT}"
    volumes:
      - model-data:/app/output
    restart: unless-stopped

  app:
    image: ghcr.io/doda25-team19/app:${APP_IMAGE_TAG}
    environment:
      - APP_PORT=${APP_PORT}
      - MODEL_HOST=http://model-service:${MODEL_PORT}
    ports:
      - "${HOST_PORT}:${APP_PORT}"
    depends_on:
      - model-service
    restart: unless-stopped
volumes:
  model-data: