# Default values for the doda-app chart.
# Global setting for the Ingress hostname.
hostname: "doda-app.local"
prereleaseHostname: "prerelease.doda-app.local"
metricsHostname: "metrics.doda-app.local"
# Settings for the App Service (frontend/api)
appService:
  replicaCount: 1
  image: "ghcr.io/doda25-team19/app:latest"
  modelServiceUrl: "http://model-service:8081"
  service:
    port: 80
    targetPort: 8080
  imageStable: "ghcr.io/doda25-team19/app:old"
  imageCanary: "ghcr.io/doda25-team19/app:new"
# Settings for the Model Service (backend)
modelService:
  replicaCount: 1
  image: "ghcr.io/doda25-team19/model-service:v0.0.7"
  modelVersion: 0.0.1-test
  modelFile: 'output/model.joblib'
  service:
    port: 8081
# This is for the private registry secret.
imagePullSecrets:
  - name: ghcr-credentials
# Values for the "Excellent" grade requirements
appConfig:
  someValue: "Hello from the ConfigMap!"
  anotherValue: "42"

appSecrets:
  username: "c2VjcmV0LXNhdWNl"
  password: "c3VwZXItc2VjcmV0"
# For mounting a shared folder into a pod
sharedVolume:
  hostPath: "/mnt/shared"
  mountPath: "/data/shared"
# flag or nginx to not interfere with istio
nginx:
  enabled: false
# Istio configuration for service mesh features
istio:
  enabled: true
  sidecarInjection:
    enabled: false
  rateLimiting:
    enabled: true
    requestsPerMinute: 5
    burstSize: 5
    fillInterval: 60
  gateway:
    name: ingressgateway
    namespace: istio-system

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin

  service:
    type: ClusterIP
    port: 80

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://{{ .Release.Name }}-kube-prometheus-stack-prometheus.{{ .Release.Namespace }}.svc.cluster.local:9090
          access: proxy
          isDefault: true

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValue: "1"
      searchNamespace: default

prometheus:
  enabled: true

kube-prometheus-stack:
  grafana:
    enabled: false
  prometheus:
    prometheusSpec:
      serviceMonitorSelector:
        matchLabels:
          app: doda-app
      serviceMonitorSelectorNilUsesHelmValues: false
      ruleSelector:
        matchLabels:
          app: doda-app
          role: alert-rules
      ruleSelectorNilUsesHelmValues: false

  alertmanager:
    enabled: true
    alertmanagerSpec:
      secrets:
        - alertmanager-email-secret
    config:
      global:
        resolve_timeout: 5m
        smtp_smarthost: "smtp.gmail.com:587"
        smtp_from: "placeholder@example.com"
        smtp_auth_username: "placeholder@example.com"
        smtp_auth_password_file: "/etc/alertmanager/secrets/alertmanager-email-secret/password"
      route:
        receiver: "team-email"
      receivers:
        - name: "team-email"
          email_configs:
            - to: "placeholder@example.com"
