{{- if .Values.istio.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: app-service-virtualservice
spec:
  hosts:
    {{- range .Values.istio.virtualService.hosts }}
    - {{ . | quote }}
    {{- end }}

  gateways:
    - {{ .Release.Name }}-gateway

  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: app-service
            subset: stable
            port:
              number: 80
          weight: 90
        - destination:
            host: app-service
            subset: canary
            port:
              number: 80
          weight: 10
{{- end }}
