apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  type: ClusterIP
  selector:
    app: app-service
  ports:
  - name: http
    port: 80
    targetPort: {{ .Values.appService.service.port }}