{{- if .Values.istio.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: app-service-prerelease-virtualservice
spec:
  hosts:
    - {{ .Values.prereleaseHostname | quote }}
  gateways:
    - {{ .Release.Name }}-gateway
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: app-service
            subset: canary
            port:
              number: 80
          weight: 100
{{- end }}
