{{- if .Values.istio.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: app-service-destinationrule
spec:
  host: app-service
  subsets:
    - name: stable
      labels:
        version: v1-stable
      trafficPolicy:
        loadBalancer:
          consistentHash:
            httpHeaderName: "x-user-id"
    - name: canary
      labels:
        version: v2-canary
      trafficPolicy:
        loadBalancer:
          consistentHash:
            httpHeaderName: "x-user-id"
{{- end }}
