{{- if .Values.istio.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: model-service-destinationrule
spec:
  host: model-service
  trafficPolicy:
    loadBalancer:
      consistentHash:
        httpHeaderName: "x-user-id"
  subsets:
    - name: stable
      labels:
        version: v1-stable
    - name: canary
      labels:
        version: v2-canary
{{- end }}
