{{- if .Values.istio.enabled }}
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: model-service-virtualservice
spec:
  hosts:
    - model-service
  
  http:
    # 90/10 split matching the app-service routing
    # The consistentHash ensures the same user gets routed to matching versions
    - route:
        - destination:
            host: model-service
            subset: stable
            port:
              number: {{ .Values.modelService.service.port }}
          weight: 90
        - destination:
            host: model-service
            subset: canary
            port:
              number: {{ .Values.modelService.service.port }}
          weight: 10
{{- end }}